body {
    background-color:black;
}

div.poster {
    width:100%;
    margin-left:auto;
    margin-top:auto;
}

div.container {
    display:flex;
    flex-wrap:wrap;
}


/* 4 col grid */

div.w1-4 {
    width:25%;
}

div.w2-4 {
    width:50%;
}
div.w3-4 {
    width:75%;
}

/* 3 col grid */

div.w1-3 {
    width:33.33333%;
}

div.w2-3 {
    width:66.66667%;
}

/* 1 col grid */

div.w1-1 {
    width:100%;
}

div.poster {
    width:100%;
}

div.text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 1s;
    text-align: center;
}

/* rule 1 */

div.text.one {
    font-size: 100px;
    color:white;
    background-color: black;
}

div.text.two {
    font-size: 60px;
    color: black;
}

/* rule 2 */

div.text.a {
    -webkit-text-stroke: 5px white;
    background-color: black;
}

div.text.b {
    -webkit-text-stroke:8px black;
}

/* rule 3 */

div.text.x {
    margin-left:auto;
}

div.text.y {
    margin-right:auto;
}

div.text.z {
    margin-left:center;
}