body {
    font-size: 25px;
    background-color:lightgrey;
    font-family:'Times New Roman', Times, serif;
    color:lightgrey;
    text-align: right;
    margin-right: 150px;
    background-image:url(DSCF1387.JPG);
    background-repeat:no-repeat;
    background-size:cover;
}

a {
    color:lightgrey;
    text-decoration-line:none;
    font-size:20px;
}

h1 {
    font-style:italic;
    font-size:25px;
}

a:hover {
    color:lightgrey;
    font-style:italic;
}

div.Homepage {
    font-size:200px;
}

div.container {
    display:flex;
    flex-wrap:wrap;
    text-align: right;
}

div.w1-5 {
    width:20%;
}