body {
    background-color:black;
    font-family:Candara;
    font-size:25px;
    color:lightgray;
}

img {
    max-width: 100%;
}

a {
    text-decoration:none;
    color:lightgray;
}

b {
    text-decoration:none;
    color:crimson;
    opacity:80%;
}

a:hover {
    text-shadow:3px 3px goldenrod;
}

b:hover {
    text-shadow:3px 3px antiquewhite;
}

div.header {
    display:flex;
    flex-wrap:wrap;
    position:fixed;
    padding:15px;
    width:100%;
    border-bottom:4px solid lightgray;
    background-color:black;
    opacity:80%;
    text-shadow:2px 2px antiquewhite;
    z-index:99999;
}

div.blank {
    display:flex;
    flex-wrap:wrap;
    padding:15px;
    width:100%;
    border-bottom:4px transparent;
    color:transparent;
    background-color:transparent;
}

div.nav1 {
    width:33.333%;
    text-align:left;
}

div.theme {
    width:33.333%;
    text-align:center;
}

div.nav2 {
    width:33.333%;
    text-align:right;
}

div.mastheadA {
    font-size:15vw;
}
div.mastheadB {
    display:flex;
    flex-wrap:wrap;
    font-size:15vw;
    width:100%;
    border-bottom:4px solid lightgray;
}

div.mastheadBPic {
    max-width:62.5%;
}

div.mastheadBTitle {
    width:35%;
    padding:35px;
}

div.titleA {
    display:flex;
    flex-wrap:wrap;
    font-family:'Times New Roman', Times, serif;
    font-size:8vw;
    padding-bottom:10px;
    margin-top:60px;
    font-style:italic;
    color:steelblue;
    opacity:80%;
    border-bottom:4px solid lightgray;
    text-shadow:5px 5px antiquewhite;
}

div.titleB {
    display:flex;
    flex-wrap:nowrap;
    font-family:'Times New Roman', Times, serif;
    font-size:8vw;
    padding-bottom:10px;
    margin-top:60px;
    font-style:italic;
    color:steelblue;
    opacity:80%;
    border-bottom:4px solid lightgray;
    text-shadow:5px 5px antiquewhite;
}

div.title1 {
    width:60%;
    text-align:right;
    margin-left:85px;
    transform:rotateY(180deg);
}

div.title2 {
    width:20%;
    text-align:left;
}

div.title3 {
    font-family:'Times New Roman', Times, serif;
    width:10%;
    font-size:55px;
    text-align:right;
    font-style:italic;
    text-shadow:2px 2px antiquewhite;
}

div.title4 {
    font-family:'Times New Roman', Times, serif;
    width:35%;
    font-size:4vw;
    text-align:left;
    font-style:italic;
    text-shadow:2px 2px antiquewhite;
}

div.about {
    display:flex;
    flex-wrap:wrap;
    padding:15px;
    border-bottom:4px solid lightgray;
}

div.about1 {
    width:80%;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:35px;
}

div.about2 {
    text-align:center;
    max-width:100%;
    padding:20px;
}

div.footnotes {
    display:flex;
    flex-wrap:wrap;
    padding:15px;
    border-bottom:4px solid lightgray;
}

div.keywords {
    padding:15px;
    width:auto;
    margin-left:20px;
}

div.container {
    display:flex;
    flex-wrap:wrap;
}

div.subtitle1 {
    font-family:'Times New Roman', Times, serif;
    font-size:8vw;
    font-style:italic;
    text-align:center;
    margin-bottom:20px;
    color:steelblue;
    opacity:80%;
    text-shadow:5px 5px antiquewhite;
}

div.subtitle2 {
    font-family:'Times New Roman', Times, serif;
    font-size:8vw;
    font-style:italic;
    text-align:center;
    margin-bottom:20px;
    color:steelblue;
    opacity:80%;
    text-shadow:5px 5px antiquewhite;
    transform:rotateY(180deg);
}

div.col1 {
    overflow:scroll;
    text-align:left;
    border-bottom:4px solid lightgray;
    height:77vh;
    padding:10px;
    width:50%;
}

div.col2 {
    overflow:scroll;
    text-align:right;
    border-bottom:4px solid lightgray;
    height:77vh;
    padding:10px;
    width:50%;
}

div.col3 {
    overflow:scroll;
    border-bottom:4px solid lightgray;
    height:77vh;
    padding:10px;
    width:100%;
}

div.A {
    display:flex;
    flex-wrap:wrap;
    padding:40px;
    width:100%;
    border-top:4px solid lightgray;
}

div.B {
    display:flex;
    flex-wrap:nowrap;
    padding-top:75px;
}

div.item {
    text-align:center;
    width:50%;
}

div.itemB {
    width:50%;
    flex-shrink:0;
}

div.infoA {
    padding:40px;
    width:50%;
    height:20%;
}

div.text {
    margin-top:30px;
    margin-bottom:30px;
}

div.extrainfo {
    margin-top:85px;
    margin-bottom:30px;
}

div.name {
    font-size:30px;
    text-shadow:2px 2px antiquewhite;
}

div.link {
    color:lightgray;
    width:auto;
    height:auto;
}

div.footer {
    display:flex;
    flex-wrap:wrap;
    padding:15px;
    width:100%;
    height:12%;
    background-color:black;
    text-shadow:2px 2px antiquewhite;
}

div.footer1 {
    width:50%;
    text-align:left;
}

div.footer2 {
    width:50%;
    text-align:right;
}