body {
    background-color:black;
    font-family:Candara;
    font-size:25px;
    color:lightgray;
}

img {
    max-width: 100%;
}

a {
    text-decoration:none;
    color:lightgray;
}

a:hover {
    text-shadow:3px 3px darkgray;
}

div.header {
    display:flex;
    flex-wrap:wrap;
    position:fixed;
    padding:15px;
    width:100%;
    border-bottom:4px solid lightgray;
    background-color:black;
    opacity:80%;
    text-shadow:2px 2px antiquewhite;
    z-index:99999;
}

div.nav1 {
    width:33.333%;
    text-align:left;
}

div.theme {
    width:33.333%;
    text-align:center;
}

div.nav2 {
    width:33.333%;
    text-align:right;
}

div.masthead {
    font-size:15vw;
}

div.title {
    display:flex;
    flex-wrap:wrap;
    font-family:'Times New Roman', Times, serif;
    font-size:8vw;
    padding-bottom:10px;
    margin-top:60px;
    font-style:italic;
    color:black;
    border-bottom:4px solid lightgray;
    text-shadow:5px 5px darkgray;
}

div.title1 {
    width:60%;
    text-align:right;
    margin-left:85px;
    transform:rotateY(180deg);
}

div.title2 {
    width:20%;
    text-align:left;
}

div.title3 {
    font-family:'Times New Roman', Times, serif;
    width:10%;
    font-size:55px;
    text-align:right;
    font-style:italic;
    text-shadow:2px 2px antiquewhite;
}

div.about {
    display:flex;
    flex-wrap:wrap;
    padding:15px;
    border-bottom:4px solid lightgray;
}

div.about1 {
    width:80%;
    margin-left:35px;
}

div.footnotes {
    display:flex;
    flex-wrap:wrap;
    padding:15px;
    border-bottom:4px solid lightgray;
}

div.keywords {
    padding:15px;
    width:auto;
    margin-left:20px;
}

div.container {
    display:flex;
    flex-wrap:wrap;
}

div.subtitle1 {
    font-family:'Times New Roman', Times, serif;
    font-size:8vw;
    font-style:italic;
    text-align:center;
    margin-bottom:20px;
    color:black;
    text-shadow:5px 5px darkgray;
}

div.subtitle2 {
    font-family:'Times New Roman', Times, serif;
    font-size:8vw;
    font-style:italic;
    text-align:center;
    margin-bottom:20px;
    color:black;
    text-shadow:5px 5px darkgray;
    transform:rotateY(180deg);
}

div.col1 {
    overflow:scroll;
    text-align:left;
    border-bottom:4px solid lightgray;
    height:77vh;
    padding:10px;
    width:50%;
}

div.col2 {
    overflow:scroll;
    text-align:right;
    border-bottom:4px solid lightgray;
    height:77vh;
    padding:10px;
    width:50%;
}

div.A {
    display:flex;
    flex-wrap:wrap;
    padding:40px;
    width:100%;
    border-top:4px solid lightgray;
}

div.item {
    text-align:center;
    width:50%;
}

div.infoA {
    padding:40px;
    width:50%;
    height:20%;
}

div.brief {
    margin-top:30px;
    margin-bottom:30px;
}

div.extrainfo {
    margin-top:85px;
    margin-bottom:30px;
}

div.name {
    font-size:30px;
    text-shadow:2px 2px antiquewhite;
}

div.link {
    color:lightgray;
    width:auto;
    height:auto;
}



div.bottom {
    display:flex;
    flex-wrap:wrap;
    padding:15px;
    width:100%;
    height:12%;
    border-bottom:4px solid lightgray;
    background-color:black;
    filter:opacity(50%);
    text-shadow:2px 2px antiquewhite;
}

div.bottom1 {
    width:50%;
    text-align:left;
}

div.bottom2 {
    width:50%;
    text-align:right;
}